<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
  	<key>Kind</key>
  	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>

    <key>Identifier</key>
    <string>de.zeezide.dt.unit.swiftxcode.images.swift.swiftobjects.file.wodirectaction</string>

  	<key>Platforms</key>
  	<array>
  		<string>com.apple.platform.macosx</string>
  	</array>
    
  	<key>Description</key>
  	<string>A WODirectAction, a low level WO HTTP endpoint.</string>
  
  	<key>Summary</key>
  	<string>WODirectAction</string>

  	<key>Icon</key>
  	<string>TemplateIcon</string>
  
  	<key>SortOrder</key>
  	<string>10</string>
  
  	<key>AllowedTypes</key>
  	<array>
  		<string>public.swift-source</string>
  	</array>
    
  	<key>DefaultCompletionName</key>
  	<string>MyAction</string>

  	<key>MainTemplateFile</key>
  	<string>___FILEBASENAME___.swift</string>
    
  	<key>Options</key>
  	<array>
    </array>
    
  </dict>
</plist>
